<!DOCTYPE html>
<html lang="pt" 
   xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   <head>
      <meta name="viewport" content="width=width-device, initial-scale=1.0">
      <meta charset="UTF-8">
      <title>MPE Tech</title>
      <link rel="sortcut icon" th:href="@{/img/logo02.png}" type="image">
      <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
      <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}">
      <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
      <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css}">
      <link rel="stylesheet" th:href="@{/css/detalhes.css}" type="text/css">
      <link rel="stylesheet" th:href="@{/css/botao_busca_index.css}" type="text/css">
   </head>
   <style>
    body{
        background-color: #F8F9FA;
    }
    .jumbotron{
        background-color: #F8F9FA;
    }
    a {
        color: #359fd1;
        text-decoration: none;
        background-color: transparent;
    }
    .btn-outline-primary {
        color: #359fd1;
        border-color: #359fd1;
    }
    .botao{
        width: 50%;
    }
   </style>
   <body>
      <div th:replace="fragmentos/layout :: cabecalho"></div>
      <br><br>
      <div class="jumbotron jumbotron-fluid">
         <div class="container" sec:authorize="hasRole('ROLE_ADMIN')">
            <h1 class="display-4">Back Office</h1>
            <p class="lead">Acesso exclusivo aos <strong>administradores</strong> e <strong>estoquistas</strong> do E-Commerce.</p>
         </div>
         <div class="container" sec:authorize="hasRole('ROLE_STOCK')">
            <h1 class="display-4">Back Office - MPE Tech</h1>
            <p class="lead">Acesso exclusivo aos <strong>administradores</strong> e <strong>estoquistas</strong>.</p>
         </div>
         <div class="container" sec:authorize="hasRole('ROLE_USER')">
            <h1 class="display-4">Bem vindo!</h1>
            <p class="lead">Compre seus periféricos e tenha já seu PC Gamer!</p>
         </div>
      </div>
      <div class="container" sec:authorize="hasRole('ROLE_USER')">
         <h1 class="font-weight-light">Busque pelas marcas mais vendidas no mercado!</h1>
         <br>
         <div class="row">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card figuras" style="width: 150px; height: 150px;">
               <a href="#"><img class="card-img-top" src="https://img.terabyteshop.com.br/fabricantes/amd/amd-logo.jpg"></a>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card figuras" style="width: 150px; height: 150px;">
               <a href="#"><img class="card-img-top" src="https://img.terabyteshop.com.br/fabricantes/asus/asus.jpg"></a>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card figuras" style="width: 150px; height: 150px;">
               <a href="#"><img class="card-img-top" src="https://img.terabyteshop.com.br/fabricantes/intel/intel-logo.jpg"></a>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card figuras" style="width: 150px; height: 150px;">
               <a href="#"><img class="card-img-top" src="https://img.terabyteshop.com.br/fabricantes/geil/geil.jpg"></a>
            </div>
         </div>
      </div>
      <div sec:authorize="hasRole('ROLE_USER')">
         <br><br><br><br><br>
      </div>
      <center>
      <div class="row container">
         <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
               <a class="list-group-item list-group-item-action active" id="list-item1-list" data-toggle="list" href="#list-item1" role="tab" aria-controls="item1">Quem somos ?</a>
               <a class="list-group-item list-group-item-action" id="list-item2-list" data-toggle="list" href="#list-item2" role="tab" aria-controls="item2">Oque fazemos ?</a>
               <a class="list-group-item list-group-item-action" id="list-item3-list" data-toggle="list" href="#list-item3" role="tab" aria-controls="item3">Como fazemos ?</a>
               <a class="list-group-item list-group-item-action" id="list-item4-list" data-toggle="list" href="#list-item4" role="tab" aria-controls="item4">Quem desenvolveu ?</a>
            </div>
         </div>
         <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
               <div class="tab-pane fade show active" id="list-item1" role="tabpanel" aria-labelledby="list-item1-list"><i><strong>Olá!</strong> Somos estudantes do 4° semestre do curso Análise e Desenvolvimento de Sistemas, voltado a desenvolver um E-Commerce de produtos eletrônicos.</i></div>
               <div class="tab-pane fade" id="list-item2" role="tabpanel" aria-labelledby="list-item2-list"><i>Realizamos uma simulação de um E-commerce, onde temos três tipos de usuários como usuário <strong>cliente</strong> o qual irá efetuar suas compras pelo sistema, o usuário <strong>estoquista</strong> 
                  que irá realizar toda a gestão de produtos no sistema e o usuário <strong>administrador</strong>, que irá realizar toda gestão de usuários quanto a gestão de produtos dentro do Back Office. Tendo assim cada usuário suas devidas permissões, e também permitindo que qualquer usuário anônimo da web possa visualizar os produtos e se cadastrar como usuário <strong>cliente</strong> no sistema.</i>
               </div>
               <div class="tab-pane fade" id="list-item3" role="tabpanel" aria-labelledby="list-item3-list">
                  <i>
                     <p>Utilizamos as seguintes ferramentas de desenvolvimento:</p>
                     <ul>
                        <li>Java 8</li>
                        <li>Spring Framework</li>
                        <li>Thymeleaf</li>
                        <li>MySQL 8</li>
                        <li>HTML5, CSS3 e JS</li>
                        <li>Bootstrap 4.5</li>
                        <li>Azure DevOps</li>
                     </ul>
                  </i>
               </div>
               <div class="tab-pane fade" id="list-item4" role="tabpanel" aria-labelledby="list-item4-list">
                  <p>A equipe responsável pelo desenvolvimento é formada por três integrantes:</p>
                  <ul>
                     <li><a href="https://www.linkedin.com/in/miguel-castro-b199b71b4" target="blank"><i>Miguel Castro</i></a></li>
                     <li><a href="http://linkedin.com/in/everton-c-979bb4b1" target="blank"><i>Everton Coutinho</i></a></li>
                     <li><a href="http://linkedin.com/in/pedro-henrique-fraga-arantes-53128117a" target="blank"><i>Pedro Arantes</i></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
    </center>
    <br><br><br>
   </body>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</html>